body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
}

#title h1 {
    font-family: 'Courier New', monospace;
    color: #333;
    font-size: 4em;
}

#newGrid {
    margin: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

#newGrid:hover {
    background-color: #0056b3;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
    border: 5px solid #ccc;
}

.box {
    flex: 0 0 auto; 
    background-color: #007bff;
}

.box:hover  {
    background-color: #0056b3;
}   