body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
}

#container {
    display: flex;
    flex-wrap: wrap;;
    max-width: 800px;
    max-height: 800px; 
    border: 5px solid #ccc;
}

.box {
    width: 50px;
    height: 50px;
    flex: 0 0 auto; 
    background-color: #007bff;
}

.box:hover  {
    background-color: #0056b3;
}