body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
}

#title h1 {
    font-family: 'Courier New', monospace;
    color: #333;
    font-size: 4em;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
    aspect-ratio: 1 / 1;
    border: 5px solid #ccc;
}

.box {
    width: 10px;
    height: 10px;
    flex: 0 0 auto; 
    background-color: #007bff;
}

.box:hover  {
    background-color: #0056b3;
}   